body{
    background-image: url("https://www.travel-palawan.com/wp-content/uploads/2023/12/Cauayan-Island-Resort-sunset-villa.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}

#topBar{
    display: flex;
    align-items: center;          
    justify-content: space-between;
    padding: 3px 100px;
    flex-wrap: wrap; 
    transition: background-color 0.3s ease;
    background-color: hsla(69, 100%, 86%, 0.39);
}



#image{
    width: 100px;              
    height: 70px;
    object-fit: cover;
}

.nav-buttons{
    display: flex;
    gap: 50px;
    height: 60px;
}

.btn-outline-black{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Arial';
}

#name{
    display: flex;
    padding-top: 17px;
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 131, 86);
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 1000px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);

}

.carousel img{
    width: 900px;              
    height: 400px;
    object-fit: cover;    
}

#messagecont{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 235, 215, 0.74);
    margin: 20px;
    border-radius: 30px;
}

#message {
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 300px;

}




