body{
    background-color: aqua;
}

#background{
    background-image: url("https://www.travel-palawan.com/wp-content/uploads/2023/12/Cauayan-Island-Resort-sunset-villa.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(250, 235, 215, 0.74);
    
}


h1{
    display: flex;
    justify-content: center;
    padding: 300px 150px;
    color: aliceblue;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-shadow: 0 8px 20px rgba(0, 0, 0, 1);
    
}

#topBar{
    display: flex;
    align-items: center;          
    justify-content: space-between;
    padding: 3px 150px;
    flex-wrap: wrap; 
    transition: background-color 0.3s ease;
    background-color: hsla(0, 0%, 100%, 0.27);
    position: fixed;
    width: 100%;
    z-index: 10000;
}



#image{
    width: 100px;              
    height: 70px;
    object-fit: cover;
    opacity: 0.5;
}

.nav-buttons{
    display: flex;
    gap: 50px;
    height: 60px;
}

.btn-outline-black{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Arial';
}

#name{
    display: flex;
    padding-top: 17px;
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 131, 86);
    opacity: 0.5;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}



#carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 1000px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.carousel img{
    width: 900px;              
    height: 500px;
    object-fit: cover;    
}

#messagecont{
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 235, 215, 0.904);
}

h3{
    padding: 0px 150px;
    font-weight: 800;
}

#message {
    /* text-align: center; */
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 150px;
    padding-top: 20px;
}

#padding{
    padding: 30px;
}

#background2 {
    background-image: url("https://hdqwalls.com/wallpapers/nature-beach-wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(250, 235, 215, 0.74);
}

#containerlogo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#imagelogo{
    display: flex;
    align-self: center;
    padding: 20px;
    object-fit: cover;
    height: 300px;
    width: 300x;
    border-radius: 10px;
}


#cont {
    background-color: rgb(255, 255, 255);
    margin-top: 10px;

}

.social-icon {
    background-color: #505050;
    color: white;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}


#cont2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

h4 {
    font-weight: 700;
    padding-top: 20px;
}

#line {
    display: flex;
    justify-self: center;
    background-color: black;
    height: 3px;
    width: 80%;
    margin-top: 20px;
}

#button1 {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 265px;
}

.btn-active {
    font-size: 15;
    font-weight: 700;
}

#owner {
    font-weight: 700;
    padding-top: 15px;
}




