#background{
    background-image: url("https://www.travel-palawan.com/wp-content/uploads/2023/12/Cauayan-Island-Resort-sunset-villa.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}


h1{
    display: flex;
    justify-content: center;
    padding: 250px 150px;
    color: aliceblue;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}

#topBar{
    display: flex;
    align-items: center;          
    justify-content: space-between;
    padding: 3px 150px;
    flex-wrap: wrap; 
    transition: background-color 0.3s ease;
    background-color: hsla(0, 0%, 100%, 0.27);
    position: fixed;
    width: 100%;
}



#image{
    width: 100px;              
    height: 70px;
    object-fit: cover;
    opacity: 0.5;
}

.nav-buttons{
    display: flex;
    gap: 50px;
    height: 60px;
}

.btn-outline-black{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Arial';
}

#name{
    display: flex;
    padding-top: 17px;
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 131, 86);
    opacity: 0.5;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 1000px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    
}

.carousel img{
    width: 900px;              
    height: 400px;
    object-fit: cover;    
}

#messagecont{
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 235, 215, 0.74);
}

h3{
    padding: 0px 150px;
    font-weight: 800;
}

#message {
    /* text-align: center; */
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 150px;
    padding-top: 20px;
}

#padding{
    padding: 30px;
}




