body{
    background-color: rgb(192, 255, 255);
}

#topBar{
    display: flex;
    align-items: center;          
    justify-content: space-between;
    padding: 3px 100px;
    flex-wrap: wrap; 
    transition: background-color 0.3s ease;
    background-color: hsla(69, 100%, 86%, 0.56);
}



#image{
    width: 100px;              
    height: 70px;
    object-fit: cover;
}

.nav-buttons{
    display: flex;
    gap: 50px;
    height: 60px;
}

.btn-outline-black{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Arial';
}

#name{
    display: flex;
    padding-top: 17px;
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 131, 86);
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 900px;


}

.carousel img{
    width: 900px;              
    height: 400px;
    object-fit: cover;    
}




